USE [master]
GO
/****** Object:  Database [Guard]    Script Date: 24.03.2023 2:21:03 ******/
CREATE DATABASE [Guard]
GO
USE [Guard]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 24.03.2023 2:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 24.03.2023 2:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24.03.2023 2:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[GenderId] [int] NOT NULL,
	[Post] [nvarchar](50) NOT NULL,
	[TypeId] [int] NULL,
	[SecretWord] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Photo] [image] NULL,
	[BanTime] [date] NULL,
	[Approved] [bit] NULL,
	[AddData] [bit] NULL,
	[ViewData] [bit] NULL,
	[Reports] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Name]) VALUES (1, N'М')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (2, N'Ж')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([Id], [Name]) VALUES (1, N'Администратор доступа')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (2, N'Специалист по ИБ')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (3, N'Руководитель отдела')
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [GenderId], [Post], [TypeId], [SecretWord], [Login], [Password], [Photo], [BanTime], [Approved], [AddData], [ViewData], [Reports]) VALUES (7, N'Уварова', N'Валентина', N'Валентиновна', 2, N'Администратор доступа', 1, N'Сова', N'Agripina17', N'obdxbosmqa', NULL, CAST(N'2023-03-24' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [GenderId], [Post], [TypeId], [SecretWord], [Login], [Password], [Photo], [BanTime], [Approved], [AddData], [ViewData], [Reports]) VALUES (8, N'Горбунов', N'Юрин ', N'Валерианович', 1, N'Служба ИБ', 2, N'Спутник', N'YUrin68', N'hibljzslmv', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [GenderId], [Post], [TypeId], [SecretWord], [Login], [Password], [Photo], [BanTime], [Approved], [AddData], [ViewData], [Reports]) VALUES (9, N'Федотов ', N'Климент ', N'Васильевич', 1, N'Руководитель ПОП', 3, N'Фобос', N'Kliment119', N'lpghliewgw', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Gender]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Type]
GO
USE [master]
GO
